name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  nix:
    strategy:
      matrix:
        include:
          - runner: macos-latest
            system: aarch64-darwin
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: DeterminateSystems/flake-checker-action@3164002371bc90729c68af0e24d5aacf20d7c9f6 # v12
      - uses: DeterminateSystems/determinate-nix-action@f9ebef276016dd519d188ee7b71879732418f8b9 # v3.16.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: jonathanmorley
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Check
        run: nix flake check --print-build-logs --no-update-lock-file
      - name: Build
        run: nix run nix-darwin -- build --flake ${{ github.workspace }}#ci-${{ matrix.system }}
      - name: Switch
        run: |
          # Remove files that will be replaced by nix-darwin
          sudo rm /etc/shells /etc/zshenv /etc/nix/nix.custom.conf
          sudo -i nix run nix-darwin -- switch --flake ${{ github.workspace }}#ci-${{ matrix.system }}
