name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  nix:
    strategy:
      matrix:
        include:
          - runner: macos-latest
            system: aarch64-darwin
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: DeterminateSystems/flake-checker-action@3164002371bc90729c68af0e24d5aacf20d7c9f6 # v12
      - uses: DeterminateSystems/determinate-nix-action@89ab342bd48ff7318caf8d39d6a330c7b1df8f2f # v3.15.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: jonathanmorley
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Check
        run: nix flake check --print-build-logs --no-update-lock-file
      - name: Switch
        run: |
          # Remove files that will be replaced by nix-darwin
          sudo rm -f /etc/shells /etc/zshenv /etc/nix/nix.custom.conf
          # Re-inject the GitHub token via NIX_CONFIG since removing nix.custom.conf
          # strips the access-tokens that determinate-nix-action configured
          sudo -i env NIX_CONFIG="extra-access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}" nix run nix-darwin -- switch --flake ${{ github.workspace }}#gha-${{ matrix.system }}
