name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  nix:
    strategy:
      matrix:
        include:
          - runner: macos-latest
            system: aarch64-darwin
    runs-on: ${{ matrix.runner }}
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: DeterminateSystems/flake-checker-action@3164002371bc90729c68af0e24d5aacf20d7c9f6 # v12
      - uses: DeterminateSystems/determinate-nix-action@89ab342bd48ff7318caf8d39d6a330c7b1df8f2f # v3.15.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: jonathanmorley
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - name: Check
        run: nix flake check --print-build-logs --no-update-lock-file
      - name: Build
        run: nix run nix-darwin -- build --flake ${{ github.workspace }}#ci-${{ matrix.system }}
      - name: Switch
        run: |
          # Remove files that will be replaced by nix-darwin
          sudo rm /etc/shells /etc/zshenv /etc/nix/nix.custom.conf
          sudo -i nix run nix-darwin -- switch --flake ${{ github.workspace }}#ci-${{ matrix.system }}
